
 .open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}   

header{
   background-image: url("/assets/Hero-bg.png");
    background-size: cover;
    height: 698px;
}

body {
    max-width: 1670px;
    margin: 0 auto;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
   margin-left: 100px;
    margin-right: 100px;
   
}

.color-primary {
    color: #4E47FF;
    
}

nav h2 {
    font-size: 36px;
}

.signup-btn{
    border: none;
    background-color: #4E47FF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.hero-section {
    text-align: center;
    margin-top: 100px;
   
 
}

.hero-section h1 {
    font-size: 65px;
    color: #252432;
}

.button-btn {
    background-color: #4E47FF;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}


.action-container {
    display: flex;
    justify-content: space-between;
    margin: 120px;
    align-items: center;

}

.action-container h2{
    font-size: 42px;
    color: #252432

}

.action-container img{
    border-radius: 40px;
}

.action-container p{
    color: #434257;
    font-size: 24px;
}